* {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: black;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}
 
 html {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  height: 100%;
  width: 100%;
}


body {
  padding: 45px;
  background-image: url("https://i.imgur.com/5oNxzn0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
}

a {
  font-size: 40px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  border-radius: 0.5em;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  border-radius: 0.5em;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

table {
    background-color: white;
    width: 90vw;
    max-width: 40em;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: .5em;
    border-radius: 0.5em;
    }

  #new-car {
    background-color: white;
    width: 50vw;
    max-width: 40em;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: .5em;
    border-radius: 0.5em;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }

  #new-car input[type="string"] {
    width: 8rem;
    grid-column: 2 / 3;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  #new-car input[type="number"] {
    width: 8rem;
    grid-column: 2 / 3;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  #new-car input[type="text"] {
    width: 8rem;
    grid-column: 2 / 3;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  #new-car input[type="Boolean"] {
    width: 8rem;
    grid-column: 2 / 3;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  #details {
    background-color: white;
    width: 90vw;
    max-width: 40em;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }