* {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: black;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}
 
 html {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  height: 100%;
  width: 100%;
}


body {
  padding: 45px;
  background-image: url("https://i.imgur.com/5oNxzn0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
}

a {
  color:black;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}