<%- include('../partials/header') %>

<h2>Edit Car</h2>
<form>
  <label>Year:
    <input type="number" name="year">
  </label><br>
  <label>Make:
    <input type="string" name="make">
  </label><br>
  <label>Model: 
    <input type="string" name="model">
  </label><br>
  <label>Price:
    <input type="number" name="price">
  </label><br>
  <label>Body Style:
    <input type="string" name="bodyStyle">
  </label><br>
  <label>Exterior:
    <input type="text" name="exterior">
  </label><br>
  <label>Interior:
    <input type="text" name="interior">
  </label><br>
  <label>Fuel Economy:
    <input type="string" name="fuelEconomy">
  </label><br>
  <label>Engine:
    <input type="string" name="engine">
  </label><br>
  <label>Transmission:
    <input type="string" name="transmission">
  </label><br>
  <label>Vehicle Condition:
    <select name="vehicleCondition">
      <option value="New">New</option>
      <option value="Used">Used</option>
    </select>
  </label><br>
  <label>Available:
    <input type="Boolean" name="available">
  </label><br>
  <form action="/cars/<%= car.id %>?_method=PUT" method="POST">
    <button type="submit" value="<%= car.car%>">Update Car</button>
  </form>
</form>

<%- include('../partials/footer') %>